<strong>Olá, {{ student }}.</strong>
<p>Você tem uma nova resposta na plataforma:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta da Academia: </strong>{{ answer }} <br />
</p>